hr {
    margin: 0;
}

.rodapé {
    background-color: var(--branco);
    padding: 1em;
    display: flex;
    justify-content: space-around;
}


.rodapé__titulo {
    font-weight: 400;
    display: block;
}

.rodapé__titulo--negrito {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    }

    .rodapé__titulo {
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (min-width: 1330px) {

    .rodapé {
        padding: 1em 0;
    }

    .rodapé__titulo {
        font-weight: 400;
        display: block;
    }
    
    .rodapé__titulo--negrito {
        font-weight: 700;
    }
}